.navbar {
	background-color: #5B0D0D;
	border-radius: 0;
	border: none;
	position: fixed;
	width: 100%;
	z-index: 9999999999999;
}
.btn-info a{
	text-decoration-line: none;
	color: #fff;
}
img {
	width: 100%;
}

.item {
	height: 100vh;
}

body {

	font-family: "Open Sans", Arial, sans-serif;
	/*	background-image: radial-gradient(rgba(0, 0, 0, .6),#5B0D0D,#FCD);*/

}

.navbar-brand {
	padding: 0 63px 0 0;
}

.navbar-brand img {
	max-width: 261px;
	max-height: 70px;
	line-height: 40px;
	padding: 3px 0;
}

.activee {
	background-color: #800000;
	border-radius: 8px;
}

#myNavbar ul li {
	margin-right: 1px;
	padding: 3px;
	transition: .3s;
}

#myNavbar ul li a {

	color: #fff;
	text-transform: uppercase;
	padding-bottom: 19px;
	padding-top: 15px;
}

#myNavbar ul li:hover {
	background-color: #800000;
	border-radius: 8px;
	transform: scale(1.03);



}

#dropdown-menu-ul {
	background-color: #8000;
}

#myNavbar ul li #dropdown-menu-ul li a {
	background-color: #5B0D0D;
	color: #fff;
	transform: scale(1.05);
	padding: 5px;
	text-transform: lowercase;
}

/*end nav*/
.carousel-inner img {
	width: 100%;
	/* Set width to 100% */
	margin: auto;
	max-height: 635px;
}

.icon-in-slider {
	position: absolute;
	bottom: 0;
}

.section-slider {
	position: relative;
}

.item-img1,
.item-img2,
.item-img3 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 632px;
}

.item-img1 {
	background-image: url(../img/Home/slider/itiminia1.jpg);

}

.item-img2 {
	background-image: url(../img/Home/slider/Home1.jpg);
}

.item-img3 {
	background-image: url(../img/Home/slider/Home3.jpg);
}

.carousel-caption i {

	border-radius: 50%;
	border: 14px double #5B0D0D;
	width: 100px;
	height: 100px;
	font-size: 53px;
	line-height: 70px;
	background-color: #fff;
	color: #5B0D0D;


}

.carousel-caption i:hover {
	transform: rotate(360deg);
	transition: 1s;
	background-color: #5B0D0D;
	color: #fff;
}

.carousel-caption h4 {
	font-size: 20px;
	font-size: 24px;
	font-weight: bold;
	font-family: monospace;
	color: #FFF;
}

.sectionmgr {
	padding-bottom: 3%;
}

.img-thumbnail {
	width: 100%;
	position: relative;
	overflow: auto;
}

.div-img-ebda:hover img {
	transform: scale(1.01);
}

.a-link {
	position: absolute;
	right: 20px;
	top: 5px;
	background-color: #5B0D0D;
	color: #fff;
	font-size: 24px;
	padding: 12px;
	border-radius: 0 0 0 29px;
	display: none;
	transition: all 2s;
	z-index: 8;

}

.div-img-ebda {
	-webkit-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

.a-link:hover {
	color: #800000;
}

.over-div {
	position: absolute;
	bottom: 0;
	color: #fff;
	padding: 20px;
	display: none;
	top: 5%;
	left: 5%;
	background: rgba(0, 0, 0, .6);
	width: 90%;
	height: 90%;
	text-align: center;


}

.over-div-h3 {
	position: absolute;
	bottom: 10%;
}


.div-img-ebda:hover .over-div {
	display: block;
	opacity: 1;

}

.div-img-ebda:hover .a-link {
	display: block;
	opacity: 1;
}

.h3-right {
	font-size: 12px;
	font-weight: bold;
}

.p-right {
	font-size: 12px;
	color: #ddd;
}

.over-div-right {
	top: 10%;
	left: 10%;
	background: rgba(0, 0, 0, .6);
	width: 80%;
	height: 80%;
}

.right-mrg-div {
	margin-bottom: 2%;
}

.header-BuildingOutreachYouth {

	text-align: center;
}

.BuildingOutreachYouth {
	background-color: #fff;

}

body {
	background-image: radial-gradient(#fff, #ddd, #777)
}

.header-BuildingOutreachYouth h3 {
	font-weight: bold;
	font-family: serif;
}

.header-BuildingOutreachYouth p {
	font-style: italic;
	opacity: .8;
	font-size: 21px;
	font-family: serif;
	padding-bottom: 5%;
}

.dropdown-menu li {
	text-transform: lowercase;
}

.imgHV {
	padding: 0;
	margin: 0;
}

.imgHV img {
	width: 100%;

}

.font-awsam-detils {
	text-align: center;
	font-size: 20px;
	transition: all .6s;
}

.font-awsam-detils i {
	font-size: 35px;
	transition: all .6s;
}

.font-awsam-detils h3 {
	font-size: 35px;
	font-weight: bold;
}

.font-awsam-detils:hover i {
	transform: scale(1.1);
	color: #5B0D0D;
	transform: rotate(370deg);

}

.font-awsam-detils:hover .h3p {
	background-color: #800000;
	color: #fff;
	border-radius: 18px;
}

.font-awsam-detils:hover {
	border: 10px double #5B0D0D;
	padding: 3px;
	background-color: #fff;
	border-radius: 18px;
}

.Outreach {
	background-color: #800000;
	color: #fff;
	padding-bottom: 2%;
}

.Outreach h1 {
	font-size: 70px;
	font-weight: 700;
	line-height: 1.5;
	text-shadow: 5px 4px 9px #fff
}

.Outreach-font-awsam {
	font-size: 42px;
	text-align: center;
	line-height: 2.4;

}

a .Outreach-font-awsam {

	color: #fff;
}

.Outreach-font-awsam:hover {
	background-color: #9b0707;
}

.Outreach-font-awsam i,
.Outreach-font-awsam h3 {
	transition: all 1s;
}

.Outreach-font-awsam:hover i {

	transform: rotate(360deg);

}

.Outreach-font-awsam h3 {
	font-family: serif;
}

.Outreach-font-awsam:hover h3 {
	transform: scale(1.2);
}

.SHAPEIT {
	background-color: #1c1b1b;
	color: #fff;
	padding-bottom: 3%;
}

.SHAPEIT-right {

	border: 1px solid #fff;
	margin-top: 30px;
	border-radius: 10px;
	border-top-color: red;
	text-align: center;

}

.SHAPEIT-right-insid {
	border: 1px solid #fff;
	text-align: center;
	padding-bottom: 25px;
	margin-bottom: 22px;
	border-radius: 12px;

}

.colrstrong2 {
	color: #efd100;
}

.colrstrong3 {
	color: red;
}

.colrstrong4 {
	color: #960369;
}

.colrstrong5 {
	color: green;
}

.colrstrong6 {
	color: #00e2ff;
}

.colrstrong1,
.colrstrong2,
.colrstrong3,
.colrstrong4,
.colrstrong5,
.colrstrong6 {
	transition: all 1s;
}

.colrstrong1:hover,
.colrstrong2:hover,
.colrstrong3:hover,
.colrstrong4:hover,
.colrstrong5:hover,
.colrstrong6:hover {
	transform: scale(1.1);

}

.Our-Programs {
	/*	background-color: #DDC;*/
	border-top-color: rgba(241, 241, 241, 0.8);
	background: rgba(244, 244, 244, 0.8);
}

.OurPrograms-div {
	border: 2px solid #800000;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	text-align: center;
	background-color: #fff;
}

.OurPrograms-div h5 {
	background-color: #800000;
	color: #fff;
	font-size: 20px;
	position: relative;
	margin: 0;
	padding: 15px;
	left: 0;
	right: 0;
	font-size: 14px;

}

.OurPrograms-div ul {
	list-style: none;
	padding: 0;
}

.btn-info {
	width: 50%;
	margin-top: 8%;
	font-size: 12px;
	text-align: center;
	padding: 10px 0;

}

.slider img {
	max-width: 20px;
	max-height: 223px;
}

.slider p {
	background-color: #800000;
	color: #fff;
	text-align: center;
	border-radius: 28px 10px 31px 0;
}

.imges-Life {
	border-radius: 50%;

}

.Life-in-iti {
	padding: 3% 0;
	background-color: #fff;
	text-align: center;

}

.Life-in-iti img {
	box-shadow: 4px 28px 31px #000;
	border: 6px dashed;
	animation: example 10s infinite;

}

.imges-Life2 {


	animation: rotatchange 3s infinite alternate;

}

@keyframes example {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}

}

@keyframes rotatchange {
	0% {
		background-image: url(../img/Home/lastsection/1.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	50% {
		background-image: url(../img/Home/lastsection/2.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	100% {
		background-image: url(../img/Home/lastsection/1.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

}

.orchestrated {
	font-size: 21px;
	color: #847c7c !important;
	font-family: cursive;
	font-style: italic;
}

.People-develop {
	color: #fff;
	font-size: 25px;
	font-family: monospace;
	font-style: oblique;
}

footer {
	color: #fff;
	background-color: #383f48;
	margin: 0;
	padding: 0;
}

footer ul {
	list-style: none;
}

footer ul li {
	margin-bottom: 20px;
	color: #ddd;
}

footer input {
	outline: none;
	padding: 7px 0;
	border-radius: 3px;
}

footer li h4 {
	font-size: 21px;
	font-weight: 100;
}

footer input {
	color: #000;
}

footer img:hover {
	transform: scale(1.05);
	opacity: .8;
	border-radius: 12px;
}

.Follow i {
	font-size: 24px;
	color: #fff;
	padding: 10px;
}

.Follow .fa-facebook:hover {
	color: blue;
}

.Follow .fa-twitter-square:hover {
	color: cyan;

}

.Follow .fa-youtube-square:hover {
	color: red;

}

.Newsletter {
	padding: 3% 0;
}

.copy-write {
	text-align: center;
	background-color: #2d323a;
	padding: 20px 0;
}


.model {
	position: fixed;
	top: 70px;
	left: 0;
	z-index: 9;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}

.model #close {
	position: absolute;
	right: 20px;
	font-size: 40px;
	color: #ccc;
	cursor: pointer;
	font-weight: bold;
}

.model .model_content {
	width: 60%;
	height: 500px;
	display: block;
	margin: 50px auto;
	border-radius: 18px;
}

.model #caption {
	text-align: center;
	width: 60%;
	display: block;
	margin: auto;
	color: #fff;
	font-size: 20px;
}

.model .model_content,
.model #caption {
	animation: zooming .6s;
}

@-webkit-keyframes zooming {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes zooming {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}




.develop blockquote p {
	color: #000;
	font-family: serif;
	font-size: 1.3rem;
	line-height: 1.5;
	font-style: italic;
}

.block-3 .owl-stage {
	padding: 2em 0px;
}

.block-3 .owl-dots {
	text-align: center;
}

.block-3 .owl-dots .owl-dot>span {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin: 5px;
	background: #ccc;
}

.block-3 .owl-dots .owl-dot.active>span {
	background: #800000;
}

.develop img {
	max-width: 25%;
	border-radius: 50%;

}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}


@media (max-width:768px) {
	.over-div {
		font-size: 12px;
		bottom: 0;
		color: #fff;
		padding: 20px;
		display: block;
		top: 12%;
		left: 11%;
		background: rgba(0, 0, 0, .6);
		width: 74%;
		height: 77%;
		text-align: center;
	}

	.a-link {
		font-size: 12px;
		display: block;
		padding: 8px;

	}

	.over-div-h3 {
		font-size: 8px;
	}

	.Outreach h3 {
		font-size: 12px;
		font-weight: bold;

	}

	.OurPrograms-div {
		margin-bottom: 20px;
		text-align: center;
	}

	footer {
		font-size: 12px;
		text-align: center;
	}

	footer input {
		width: 100%;
		margin-top: 1%;
		color: #000;
	}

}